display: flex;
flex-direction: column;

color: @blanc;
padding: 20px;	

[data-hover] {
    position: relative;
}
[data-hover]::after {
    content: attr(data-hover);
    display: none;
    position: absolute;
    bottom: 0;
    background: #fff;
    color: #ff8c00;
    border-radius: 2px;
}
[data-hover]:hover::after {
    display: block;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;

	img{
		max-width: 70%;
		max-height: 70%;
	}

	figcaption {
		color: @rouge;
		font-size: 2rem;
	}
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		color: black;
		font-size: 3.5rem;
	}


	div {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		figure {
		}
	}
}