<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Mission INFO'ssible</title>
	<link rel="stylesheet" type="text/css" href="res/styles.css" />
	<meta charset="utf-8">
</head>
<body>
<header>
	<h1><a href="index.html">Mission INFO'ssible</a></h1>
	<nav>
		<ul>
			<li><a href="profession.html">Profession de foi(e)</a></li>
			<li><a href="edt.html">Calendrier des évenements</a></li>
			<li><a href="membres.html">Liste des membres</a></li>
			<li><a href="boiteaclou.html">Boite questions/idées</a></li>
		</ul>
	</nav>
</header>

<main id="__ID_PAGE__">
